@import "../valo/valo";
@import "../tracker/tracker";

@mixin application {
	@include tracker;

    .v-app {
        background-color:#fff;
    }
	.main-container {
		.header {
			background-image: url('images/logo.jpg');
			background-size:7%;
        }
    }
}

@include application;